*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.ubmisg-sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border-width: 0 !important;
}

.ubmisg-pointer-events-none {
  pointer-events: none !important;
}

.ubmisg-invisible {
  visibility: hidden !important;
}

.ubmisg-absolute {
  position: absolute !important;
}

.ubmisg-relative {
  position: relative !important;
}

.ubmisg-bottom-0 {
  bottom: 0px !important;
}

.ubmisg-bottom-0\.5 {
  bottom: 0.125rem !important;
}

.ubmisg-bottom-1 {
  bottom: 0.25rem !important;
}

.ubmisg-bottom-full {
  bottom: 100% !important;
}

.ubmisg-left-1\/2 {
  left: 50% !important;
}

.ubmisg-right-0 {
  right: 0px !important;
}

.ubmisg-right-0\.5 {
  right: 0.125rem !important;
}

.ubmisg-right-1 {
  right: 0.25rem !important;
}

.ubmisg-right-2 {
  right: 0.5rem !important;
}

.ubmisg-z-0 {
  z-index: 0 !important;
}

.ubmisg-mb-1 {
  margin-bottom: 0.25rem !important;
}

.ubmisg-mb-2 {
  margin-bottom: 0.5rem !important;
}

.ubmisg-ml-0\.5 {
  margin-left: 0.125rem !important;
}

.ubmisg-ml-2 {
  margin-left: 0.5rem !important;
}

.ubmisg-ml-4 {
  margin-left: 1rem !important;
}

.ubmisg-mr-2 {
  margin-right: 0.5rem !important;
}

.ubmisg-mt-1 {
  margin-top: 0.25rem !important;
}

.ubmisg-block {
  display: block !important;
}

.ubmisg-inline-block {
  display: inline-block !important;
}

.ubmisg-flex {
  display: flex !important;
}

.ubmisg-inline-flex {
  display: inline-flex !important;
}

.ubmisg-hidden {
  display: none !important;
}

.ubmisg-h-1\.5 {
  height: 0.375rem !important;
}

.ubmisg-h-10 {
  height: 2.5rem !important;
}

.ubmisg-h-12 {
  height: 3rem !important;
}

.ubmisg-h-14 {
  height: 3.5rem !important;
}

.ubmisg-h-2 {
  height: 0.5rem !important;
}

.ubmisg-h-2\.5 {
  height: 0.625rem !important;
}

.ubmisg-h-20 {
  height: 5rem !important;
}

.ubmisg-h-3 {
  height: 0.75rem !important;
}

.ubmisg-h-3\.5 {
  height: 0.875rem !important;
}

.ubmisg-h-4 {
  height: 1rem !important;
}

.ubmisg-h-5 {
  height: 1.25rem !important;
}

.ubmisg-h-6 {
  height: 1.5rem !important;
}

.ubmisg-h-8 {
  height: 2rem !important;
}

.ubmisg-h-full {
  height: 100% !important;
}

.ubmisg-w-1\.5 {
  width: 0.375rem !important;
}

.ubmisg-w-10 {
  width: 2.5rem !important;
}

.ubmisg-w-12 {
  width: 3rem !important;
}

.ubmisg-w-14 {
  width: 3.5rem !important;
}

.ubmisg-w-2 {
  width: 0.5rem !important;
}

.ubmisg-w-2\.5 {
  width: 0.625rem !important;
}

.ubmisg-w-20 {
  width: 5rem !important;
}

.ubmisg-w-3 {
  width: 0.75rem !important;
}

.ubmisg-w-3\.5 {
  width: 0.875rem !important;
}

.ubmisg-w-32 {
  width: 8rem !important;
}

.ubmisg-w-4 {
  width: 1rem !important;
}

.ubmisg-w-48 {
  width: 12rem !important;
}

.ubmisg-w-5 {
  width: 1.25rem !important;
}

.ubmisg-w-6 {
  width: 1.5rem !important;
}

.ubmisg-w-72 {
  width: 18rem !important;
}

.ubmisg-w-8 {
  width: 2rem !important;
}

.ubmisg-w-full {
  width: 100% !important;
}

.ubmisg-flex-1 {
  flex: 1 1 0% !important;
}

.ubmisg-flex-shrink-0 {
  flex-shrink: 0 !important;
}

.ubmisg--translate-x-1\/2 {
  --tw-translate-x: -50% !important;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}

.ubmisg-rotate-180 {
  --tw-rotate: 180deg !important;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}

.ubmisg-transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}

@keyframes ubmisg-spin {
  to {
    transform: rotate(360deg);
  }
}

.ubmisg-animate-spin {
  animation: ubmisg-spin 1s linear infinite !important;
}

.ubmisg-cursor-default {
  cursor: default !important;
}

.ubmisg-cursor-not-allowed {
  cursor: not-allowed !important;
}

.ubmisg-cursor-pointer {
  cursor: pointer !important;
}

.ubmisg-flex-col {
  flex-direction: column !important;
}

.ubmisg-items-center {
  align-items: center !important;
}

.ubmisg-justify-center {
  justify-content: center !important;
}

.ubmisg-justify-between {
  justify-content: space-between !important;
}

.ubmisg-gap-2 {
  gap: 0.5rem !important;
}

.ubmisg-gap-4 {
  gap: 1rem !important;
}

.ubmisg-space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0 !important;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse))) !important;
  margin-bottom: calc(1rem * var(--tw-space-y-reverse)) !important;
}

.ubmisg-self-stretch {
  align-self: stretch !important;
}

.ubmisg-overflow-hidden {
  overflow: hidden !important;
}

.ubmisg-whitespace-nowrap {
  white-space: nowrap !important;
}

.ubmisg-rounded {
  border-radius: 0.25rem !important;
}

.ubmisg-rounded-full {
  border-radius: 9999px !important;
}

.ubmisg-rounded-lg {
  border-radius: 0.5rem !important;
}

.ubmisg-rounded-md {
  border-radius: 0.375rem !important;
}

.ubmisg-rounded-none {
  border-radius: 0px !important;
}

.ubmisg-border {
  border-width: 1px !important;
}

.ubmisg-border-0 {
  border-width: 0px !important;
}

.ubmisg-border-x-0 {
  border-left-width: 0px !important;
  border-right-width: 0px !important;
}

.ubmisg-border-b {
  border-bottom-width: 1px !important;
}

.ubmisg-border-l {
  border-left-width: 1px !important;
}

.ubmisg-border-r {
  border-right-width: 1px !important;
}

.ubmisg-border-t {
  border-top-width: 1px !important;
}

.ubmisg-border-t-0 {
  border-top-width: 0px !important;
}

.ubmisg-border-dashed {
  border-style: dashed !important;
}

.ubmisg-border-amber-500 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(245 158 11 / var(--tw-border-opacity, 1)) !important;
}

.ubmisg-border-gray-200 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(229 231 235 / var(--tw-border-opacity, 1)) !important;
}

.ubmisg-border-gray-300 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(209 213 219 / var(--tw-border-opacity, 1)) !important;
}

.ubmisg-border-gray-400 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(156 163 175 / var(--tw-border-opacity, 1)) !important;
}

.ubmisg-border-gray-500 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(107 114 128 / var(--tw-border-opacity, 1)) !important;
}

.ubmisg-border-green-300 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(134 239 172 / var(--tw-border-opacity, 1)) !important;
}

.ubmisg-border-green-500 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(34 197 94 / var(--tw-border-opacity, 1)) !important;
}

.ubmisg-border-green-600 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(22 163 74 / var(--tw-border-opacity, 1)) !important;
}

.ubmisg-border-indigo-600 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(79 70 229 / var(--tw-border-opacity, 1)) !important;
}

.ubmisg-border-red-300 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(252 165 165 / var(--tw-border-opacity, 1)) !important;
}

.ubmisg-border-red-500 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(239 68 68 / var(--tw-border-opacity, 1)) !important;
}

.ubmisg-border-red-600 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(220 38 38 / var(--tw-border-opacity, 1)) !important;
}

.ubmisg-border-yellow-400 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(250 204 21 / var(--tw-border-opacity, 1)) !important;
}

.ubmisg-border-yellow-500 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(234 179 8 / var(--tw-border-opacity, 1)) !important;
}

.ubmisg-bg-blue-500 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity, 1)) !important;
}

.ubmisg-bg-blue-600 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity, 1)) !important;
}

.ubmisg-bg-gray-100 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1)) !important;
}

.ubmisg-bg-gray-200 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1)) !important;
}

.ubmisg-bg-gray-400 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(156 163 175 / var(--tw-bg-opacity, 1)) !important;
}

.ubmisg-bg-gray-50 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1)) !important;
}

.ubmisg-bg-gray-600 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(75 85 99 / var(--tw-bg-opacity, 1)) !important;
}

.ubmisg-bg-gray-700 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity, 1)) !important;
}

.ubmisg-bg-gray-800 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity, 1)) !important;
}

.ubmisg-bg-green-500 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity, 1)) !important;
}

.ubmisg-bg-green-600 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(22 163 74 / var(--tw-bg-opacity, 1)) !important;
}

.ubmisg-bg-indigo-600 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(79 70 229 / var(--tw-bg-opacity, 1)) !important;
}

.ubmisg-bg-red-500 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity, 1)) !important;
}

.ubmisg-bg-red-600 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(220 38 38 / var(--tw-bg-opacity, 1)) !important;
}

.ubmisg-bg-transparent {
  background-color: transparent !important;
}

.ubmisg-bg-white {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1)) !important;
}

.ubmisg-bg-yellow-400 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(250 204 21 / var(--tw-bg-opacity, 1)) !important;
}

.ubmisg-bg-yellow-500 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(234 179 8 / var(--tw-bg-opacity, 1)) !important;
}

.ubmisg-bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops)) !important;
}

.ubmisg-from-blue-400 {
  --tw-gradient-from: #60a5fa var(--tw-gradient-from-position) !important;
  --tw-gradient-to: rgb(96 165 250 / 0) var(--tw-gradient-to-position) !important;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to) !important;
}

.ubmisg-from-blue-500 {
  --tw-gradient-from: #3b82f6 var(--tw-gradient-from-position) !important;
  --tw-gradient-to: rgb(59 130 246 / 0) var(--tw-gradient-to-position) !important;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to) !important;
}

.ubmisg-via-purple-400 {
  --tw-gradient-to: rgb(192 132 252 / 0)  var(--tw-gradient-to-position) !important;
  --tw-gradient-stops: var(--tw-gradient-from), #c084fc var(--tw-gradient-via-position), var(--tw-gradient-to) !important;
}

.ubmisg-via-purple-500 {
  --tw-gradient-to: rgb(168 85 247 / 0)  var(--tw-gradient-to-position) !important;
  --tw-gradient-stops: var(--tw-gradient-from), #a855f7 var(--tw-gradient-via-position), var(--tw-gradient-to) !important;
}

.ubmisg-to-pink-400 {
  --tw-gradient-to: #f472b6 var(--tw-gradient-to-position) !important;
}

.ubmisg-to-pink-500 {
  --tw-gradient-to: #ec4899 var(--tw-gradient-to-position) !important;
}

.ubmisg-object-cover {
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

.ubmisg-p-0 {
  padding: 0px !important;
}

.ubmisg-p-4 {
  padding: 1rem !important;
}

.ubmisg-px-2 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.ubmisg-px-3 {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
}

.ubmisg-px-3\.5 {
  padding-left: 0.875rem !important;
  padding-right: 0.875rem !important;
}

.ubmisg-px-4 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.ubmisg-px-5 {
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
}

.ubmisg-px-6 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.ubmisg-py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.ubmisg-py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.ubmisg-pb-2 {
  padding-bottom: 0.5rem !important;
}

.ubmisg-pb-4 {
  padding-bottom: 1rem !important;
}

.ubmisg-pr-8 {
  padding-right: 2rem !important;
}

.ubmisg-pt-2 {
  padding-top: 0.5rem !important;
}

.ubmisg-pt-4 {
  padding-top: 1rem !important;
}

.ubmisg-text-left {
  text-align: left !important;
}

.ubmisg-align-top {
  vertical-align: top !important;
}

.ubmisg-align-middle {
  vertical-align: middle !important;
}

.ubmisg-text-3xl {
  font-size: 1.875rem !important;
  line-height: 2.25rem !important;
}

.ubmisg-text-base {
  font-size: 1rem !important;
  line-height: 1.5rem !important;
}

.ubmisg-text-lg {
  font-size: 1.125rem !important;
  line-height: 1.75rem !important;
}

.ubmisg-text-sm {
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
}

.ubmisg-text-xl {
  font-size: 1.25rem !important;
  line-height: 1.75rem !important;
}

.ubmisg-text-xs {
  font-size: 0.75rem !important;
  line-height: 1rem !important;
}

.ubmisg-font-medium {
  font-weight: 500 !important;
}

.ubmisg-leading-6 {
  line-height: 1.5rem !important;
}

.ubmisg-text-blue-400 {
  --tw-text-opacity: 1 !important;
  color: rgb(96 165 250 / var(--tw-text-opacity, 1)) !important;
}

.ubmisg-text-blue-600 {
  --tw-text-opacity: 1 !important;
  color: rgb(37 99 235 / var(--tw-text-opacity, 1)) !important;
}

.ubmisg-text-gray-100 {
  --tw-text-opacity: 1 !important;
  color: rgb(243 244 246 / var(--tw-text-opacity, 1)) !important;
}

.ubmisg-text-gray-200 {
  --tw-text-opacity: 1 !important;
  color: rgb(229 231 235 / var(--tw-text-opacity, 1)) !important;
}

.ubmisg-text-gray-300 {
  --tw-text-opacity: 1 !important;
  color: rgb(209 213 219 / var(--tw-text-opacity, 1)) !important;
}

.ubmisg-text-gray-400 {
  --tw-text-opacity: 1 !important;
  color: rgb(156 163 175 / var(--tw-text-opacity, 1)) !important;
}

.ubmisg-text-gray-500 {
  --tw-text-opacity: 1 !important;
  color: rgb(107 114 128 / var(--tw-text-opacity, 1)) !important;
}

.ubmisg-text-gray-600 {
  --tw-text-opacity: 1 !important;
  color: rgb(75 85 99 / var(--tw-text-opacity, 1)) !important;
}

.ubmisg-text-gray-700 {
  --tw-text-opacity: 1 !important;
  color: rgb(55 65 81 / var(--tw-text-opacity, 1)) !important;
}

.ubmisg-text-gray-800 {
  --tw-text-opacity: 1 !important;
  color: rgb(31 41 55 / var(--tw-text-opacity, 1)) !important;
}

.ubmisg-text-gray-900 {
  --tw-text-opacity: 1 !important;
  color: rgb(17 24 39 / var(--tw-text-opacity, 1)) !important;
}

.ubmisg-text-red-500 {
  --tw-text-opacity: 1 !important;
  color: rgb(239 68 68 / var(--tw-text-opacity, 1)) !important;
}

.ubmisg-text-white {
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1)) !important;
}

.ubmisg-underline {
  text-decoration-line: underline !important;
}

.ubmisg-placeholder-gray-400::-moz-placeholder {
  --tw-placeholder-opacity: 1 !important;
  color: rgb(156 163 175 / var(--tw-placeholder-opacity, 1)) !important;
}

.ubmisg-placeholder-gray-400::placeholder {
  --tw-placeholder-opacity: 1 !important;
  color: rgb(156 163 175 / var(--tw-placeholder-opacity, 1)) !important;
}

.ubmisg-opacity-0 {
  opacity: 0 !important;
}

.ubmisg-opacity-50 {
  opacity: 0.5 !important;
}

.ubmisg-shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05) !important;
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.ubmisg-outline-none {
  outline: 2px solid transparent !important;
  outline-offset: 2px !important;
}

.ubmisg-ring-2 {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color) !important;
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color) !important;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000) !important;
}

.ubmisg-ring-black {
  --tw-ring-opacity: 1 !important;
  --tw-ring-color: rgb(0 0 0 / var(--tw-ring-opacity, 1)) !important;
}

.ubmisg-ring-white {
  --tw-ring-opacity: 1 !important;
  --tw-ring-color: rgb(255 255 255 / var(--tw-ring-opacity, 1)) !important;
}

.ubmisg-ring-offset-2 {
  --tw-ring-offset-width: 2px !important;
}

.ubmisg-ring-offset-gray-100 {
  --tw-ring-offset-color: #f3f4f6 !important;
}

.ubmisg-transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 150ms !important;
}

.ubmisg-transition-all {
  transition-property: all !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 150ms !important;
}

.ubmisg-transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 150ms !important;
}

.ubmisg-transition-transform {
  transition-property: transform !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 150ms !important;
}

.ubmisg-duration-200 {
  transition-duration: 200ms !important;
}

.ubmisg-duration-300 {
  transition-duration: 300ms !important;
}

.last\:ubmisg-border-b-0:last-child {
  border-bottom-width: 0px !important;
}

.focus-within\:ubmisg-border-amber-600:focus-within {
  --tw-border-opacity: 1 !important;
  border-color: rgb(217 119 6 / var(--tw-border-opacity, 1)) !important;
}

.focus-within\:ubmisg-border-blue-500:focus-within {
  --tw-border-opacity: 1 !important;
  border-color: rgb(59 130 246 / var(--tw-border-opacity, 1)) !important;
}

.focus-within\:ubmisg-border-green-600:focus-within {
  --tw-border-opacity: 1 !important;
  border-color: rgb(22 163 74 / var(--tw-border-opacity, 1)) !important;
}

.focus-within\:ubmisg-border-red-600:focus-within {
  --tw-border-opacity: 1 !important;
  border-color: rgb(220 38 38 / var(--tw-border-opacity, 1)) !important;
}

.focus-within\:ubmisg-shadow-\[0_0_0_2px_rgba\(25\2c 118\2c 210\2c 0\.2\)\]:focus-within {
  --tw-shadow: 0 0 0 2px rgba(25,118,210,0.2) !important;
  --tw-shadow-colored: 0 0 0 2px var(--tw-shadow-color) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.hover\:ubmisg-bg-gray-100:hover {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1)) !important;
}

.hover\:ubmisg-text-gray-600:hover {
  --tw-text-opacity: 1 !important;
  color: rgb(75 85 99 / var(--tw-text-opacity, 1)) !important;
}

.focus\:ubmisg-outline-none:focus {
  outline: 2px solid transparent !important;
  outline-offset: 2px !important;
}

.focus\:ubmisg-ring-2:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color) !important;
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color) !important;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000) !important;
}

.focus\:ubmisg-ring-blue-200:focus {
  --tw-ring-opacity: 1 !important;
  --tw-ring-color: rgb(191 219 254 / var(--tw-ring-opacity, 1)) !important;
}

.focus\:ubmisg-ring-offset-0:focus {
  --tw-ring-offset-width: 0px !important;
}

.ubmisg-group:hover .group-hover\:ubmisg-opacity-100 {
  opacity: 1 !important;
}

.\[\&_input\[type\=number\]\:\:-webkit-inner-spin-button\]\:ubmisg-appearance-none input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
          appearance: none !important;
}

.\[\&_input\[type\=number\]\:\:-webkit-outer-spin-button\]\:ubmisg-appearance-none input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
          appearance: none !important;
}

.\[\&_input\[type\=number\]\]\:ubmisg-m-0 input[type=number] {
  margin: 0px !important;
}
